@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Sansation';
    src: url('/public/fonts/Sansation_Regular.ttf');
}

.bg-gradient-radial-dark {
    background: radial-gradient(50% 50% at 50% 50%, #4E4E4E 0%, #3D3B3B 99.99%, #3D3B3B 100%);
}
